.b1{
    color:white;
    background-color: black;
    height: 36px;
    width:120px;
    border-radius:2px;
    border:none;
    cursor:pointer;
    margin: right 3px;
}
.b2{
    color:black;
    background-color: rgba(255,216,20);
    height: 36px;
    width:180px;
    border:none;
    border-radius: 18px;
    cursor:pointer;
    margin-right: 3px;
}
.GitHub{
    color:white;
    background-color: rgb(46, 164,79);
    height:36px;
    width:90px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-weight:bold;
    margin-right:3px;
}
.Bootstrap1{
    color:white;
    background-color:rgb(121,82,179);
    height:36px;
    width: 110px;
    cursor:pointer;
    border:none;
    border-radius:4px;
    font-weight:bold;
    margin-right:3px;
}
.Bootstrap2{
    color:rgb(108,117,125);
    background-color:white;
    height:36px;
    width: 115px;
    cursor:pointer;
    border-radius:4px;
    font-weight:bold;
    border-color:rgb(108,117,125);
    border-style:solid;
    margin-right:3px;
}
.LinkedIn1{
    background-color:rgb(10,102,194);
    color:white;
    height:36px;
    width: 220px;
    cursor:pointer;
    border-radius:15px;
    font-weight:bold;
    border:none;
    margin-right:3px;
}
.LinkedIn2{
    color:rgb(10,102,194);
    background-color:white;
    height:36px;
    width: 80px;
    cursor:pointer;
    border-radius:15px;
    font-weight:bold;
    border-style:solid;
    margin-right:3px;
    border-color:rgb(10,102,194);
}