
.b1{
    color:white;
    background-color: black;
    height: 36px;
    width:120px;
    border-radius:2px;
    border:none;
    cursor:pointer;
    margin: right 3px;
    transition: opacity 0.15s;
}
.b1:hover{
    opacity:0.6;
}
.b2{
    color:black;
    background-color: rgba(255,216,20);
    height: 36px;
    width:180px;
    border:none;
    border-radius: 18px;
    cursor:pointer;
    margin-right: 3px;
    transition:background-color 0.3s;
}
.b2:hover{
    background-color:rgb(236, 198, 10);
}
.GitHub{
    color:white;
    background-color: rgb(46, 164,79);
    height:36px;
    width:90px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-weight:bold;
    margin-right:3px;
    transition: box-shadow 0.15s;
}
.GitHub:hover{
    box-shadow: 0px 10px 20px rgb(112, 112, 112);
}
.Bootstrap1{
    color:white;
    background-color:rgb(121,82,179);
    height:36px;
    width: 110px;
    cursor:pointer;
    border:none;
    border-radius:4px;
    font-weight:bold;
    margin-right:3px;
    transition: background-color 0.15s;
}
.Bootstrap1:hover{
    background-color: rgb(105, 73, 153);
}
.Bootstrap2{
    color:rgb(108,117,125);
    background-color:white;
    height:36px;
    width: 115px;
    cursor:pointer;
    border-radius:4px;
    font-weight:bold;
    border-color:rgb(108,117,125);
    border-style:solid;
    margin-right:3px;
    transition: color 0.15s, background-color 0.15s;
}
.Bootstrap2:hover{
    color:white;
    background-color:rgb(108,117,125);
}
.LinkedIn1{
    background-color:rgb(10,102,194);
    color:white;
    height:36px;
    width: 220px;
    cursor:pointer;
    border-radius:15px;
    font-weight:bold;
    border:none;
    margin-right:3px;
    transition: background-color 0.15s;
}
.LinkedIn1:hover{
    background-color:rgb(10, 92, 174);
}
.LinkedIn2{
    color:rgb(10,102,194);
    background-color:white;
    height:36px;
    width: 80px;
    cursor:pointer;
    border-radius:15px;
    font-weight:bold;
    border-style:solid;
    margin-right:3px;
    border-color:rgb(10,102,194);
    transition:border-width 0.15s,color 0.15s;
}
.LinkedIn2:hover{
    border-width: 2px ;
    background-color:rgb(156, 192, 227);
}