.b1 {
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 6px;
    }

    .b2 {
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .a1 {
        margin-right: 6px;
    }

    .s {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
        transition: padding 0.5s;
    }

    .s:hover {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
    }

    .c {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
        box-shadow: 9px 9px 15px rgb(56, 54, 54);
        transition: padding 0.1ms;
    }

    .c:active {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
        box-shadow: none;
    }

    .o {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
        transition: padding 0.5s;
    }

    .o:hover {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
    }

    .t {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
        transition: padding 0.5s;
    }

    .t:hover {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
    }

    .th {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
        transition: padding 0.15s;
    }

    .th:hover {
        margin-left: 6px;
        background-color: rgb(5, 99, 5);
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: solid;
        border: none;
        color: white;
        cursor: pointer;
    }