.l1{
    font-family:Tahoma;
    font-size:30px;
    font-weight:bold;
}
.l2{
    font-family: arial;
    font-weight: bold;
    font-size:40px;
    margin-bottom:10px;
}
.l22{
    margin-top:0px;
    font-size:30px;
    font-family:aerial;
    color:red;
    font-style:italic;
}
.a{
    font-family:verdana;
    font-weight: bold;
    font-size: 25px;
    margin-bottom:0px;
}
.b{
    margin-top:8px;
    font-family:verdana;
    color:rgb(142, 140, 140);
}
.c{
    font-family: verdana;
    width:340px;
}
.d{
    background-color: rgb(5, 97, 5);
    border:none;
    color:white;
    padding-top:10px;
    padding-left:15px;
    padding-bottom:10px;
    padding-right:15px;
    border-radius:6px;
}
.bo{
    font-family:arial;  
    font-size:40px;
    font-weight:bold;  
    margin-bottom:0px;
}
.bc{
    font-family:arial;
    font-size:20px;
    text-align:center;
    margin-top:10px;
    margin-bottom:0px;
}
.li{
    color:rgb(31, 94, 212);
    text-align:center;
    margin-top:20px;
}